body{
    color: white;
}
.icon{
    width: 100px;
}

nav{
    padding: 10px 0px;
}

.menu{
    list-style-type: none;
    font-weight: 700;
    font-size: larger;
    cursor: pointer;
}

.menu li:hover{
    color: #00FFFF;
}

.banner-container{
    flex-direction: row-reverse;
}

.banner-header{
    color: #00FFFF;
    font-size: 70px;
}

.banner-icons{
    color: rgb(49, 49, 194);
    font-size: 30px;
}

.banner-img{
    height: 500px;
}

.banner-about{
    width: 500px;
}

.section-header{
    text-align: center;
    margin-top: 50px;
    font-size: 50px;
    font-weight: bold;
}

.edt-container{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}


.project-header{
    font-size: 40px;
    color: #00FFFF;
}
.project-img{
    width: 40%;
}

.p-card{
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 70%;
    margin: auto;
    margin-top: 10px;
    border: 1px solid white;
    padding: 15px;
    border-radius: 10px;
}

.project-tech{
    background: gray;
    padding: 10px;
    border-radius: 10px;
    color: white;
}

.project-content{
    width: 60%;
}


.technology-container{
    display: flex;
    flex-direction: column;
    justify-content: center;   
    gap: 20px;
    margin-top: 20px;
}

.education-header{
    font-size: 70px;
    color: #00FFFF;
}

.education-description{
    font-size: 20px;
}

.about-header{
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
}

.form-container{
    width: 50%;
    margin: auto;
    margin-top: 20px;
}

footer{
    padding: 20px;
    text-align: center;
}

.footer-icons{
    font-size: 30px;
    color: #00FFFF;
}

@media screen and (max-width: 1024px){
    nav{
        flex-direction: column;
    }
    .banner-container{
        flex-direction: column;
    }
    .p-card{
        width: 70%;
    }
    .project-img{
        width: 100%;
    }
    
}

@media screen and (max-width: 768px){
    nav{
        flex-direction: column;
    }
    .banner-container{
        flex-direction: column;
    }
    .p-card{
        flex-direction: column;
        width: 90%;
    }
    .project-img{
        width: 100%;
    }
    .edt-container{
        flex-direction: column-reverse;
    }
    
}

@media screen and (max-width: 425px){
    nav{
        flex-direction: column;
    }
    .banner-container{
        flex-direction: column;
    }
    .p-card{
        flex-direction: column;
        margin: auto;
        width: 90%;
    }
    .project-img{
        width: 100%;
    }
}